# Arquivos compilados e de build
/out/
/bin/
*.class
*.jar
*.war

# Arquivos de log
*.log

# Arquivos de IDE (IntelliJ)
.idea/
*.iml

# Arquivos do sistema operacional
.DS_Store

# Relatórios Pessoais
docs/Relatório de Alterações Simulador Hidrômetro Analógico V2 - Rodrigues_Tácito.pdf